[user]
	email = r.nicoletti1@gmail.com
	name = Ryan Nicoletti
[gui]
	editor = vim
[color]
	ui=auto

[core]
	editor = vim~
[pull]
	rebase = true
[diff]
	colorMoved = zebra
[credential "https://github.com"]
	helper = 
	helper = !/home/ryan/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/ryan/.local/bin/gh auth git-credential
